.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    font-family: "Open Sans";
}

.left-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    width: 60%;
    background: #17A2B8;
    color: #ffffff;
}


.text1{
    font-size: 33px;
    font-weight: 800;
    display: inline;
}

.text2{
    font-size: 20px;
    font-weight: 100;
}

#back{
    position: relative;
    width: 20vw;
    height: 20vw;
}

#bg-image{
    position: absolute;
    left: 30%; 
    top: 45%; 
    transform: translate(-50%, -50%);
}

